:root {
  --horizontal-padding: .8vmin;
  --vertical-padding: .8vmin;
  --surface-blur: blur(2vmin);
}

:root, :root[data-theme = 'dark'] {
  --background-color: rgba(42, 42, 42, 1);
  --background-color-variant: rgba(0, 0, 0, 1);
  --font-color: rgba(255, 255, 255, 1);
  --primary-color: rgba(218, 165, 32, 1);
  --primary-color-variant: rgba(184, 134, 11, 1);
  --surface-color: rgba(255, 255, 255, .15);
  --surface-shadow: 0 0 .2vmin 0 rgba(0, 0, 0, .2);
  --svg-button-filter: invert(1);
}

:root[data-theme = 'light'] {
  --background-color: rgba(213, 213, 213, 1);
  --background-color-variant: rgba(255, 255, 255, 1);
  --font-color: rgba(0, 0, 0, 1);
  --primary-color: rgba(184, 134, 11, 1);
  --primary-color-variant: rgba(218, 165, 32, 1);
  --surface-color: rgba(0, 0, 0, .15);
  --surface-shadow: 0 0 .2vmin 0 rgba(255, 255, 255, .2);
  --svg-button-filter: invert(0);
}

::-moz-selection {
  background: var(--primary-color-variant);
  text-shadow: none;
}

::selection {
  background: var(--primary-color-variant);
  text-shadow: none;
}

* {
  margin: 0;
}

html {
  background: radial-gradient(var(--background-color), var(--background-color-variant));
  color: var(--font-color);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body > * {
  padding: 1.6vmin;
}

header, footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

h1 {
  --h1-text-shadow-offset: .2vmin;
  margin: 0;
  color: var(--primary-color);
  font-size: 3vmin;
  text-shadow: var(--h1-text-shadow-offset) var(--h1-text-shadow-offset) var(--primary-color-variant);
  text-transform: uppercase;
}

input[type="radio"] {
  visibility: hidden;
}

input[type="radio"]:checked + label {
  color: var(--primary-color);
  font-weight: bold;
}

.floating {
  background-color: var(--surface-color);
  box-shadow: var(--surface-shadow);
  backdrop-filter: blur(2vmin);
}

.horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.horizontal > * {
  padding: 0 var(--horizontal-padding);
}

.horizontal > *:first-child {
  padding-left: 0;
}

.horizontal > *:last-child {
  padding-right: 0;
}

.vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.vertical > * {
  padding: var(--horizontal-padding) 0;
}

.vertical > *:first-child {
  padding-top: 0;
}

.vertical > *:last-child {
  padding-bottom: 0;
}

.no-list-style {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.img-button, .svg-button {
  cursor: pointer;
  aspect-ratio: 1 / 1;
  height: 2vmin;
  width: 2vmin;
  transition: filter .4s ease;
}

.img-button {
  filter: grayscale(1);
}

.img-button:hover {
  filter: grayscale(0);
}

.svg-button {
  filter: var(--svg-button-filter);
}

.svg-button:hover {
  filter: invert(64%) sepia(79%) saturate(475%) hue-rotate(1deg) brightness(92%) contrast(87%);
}
